*{margin:0;padding:0;}
*{overflow:hidden}
#img{
    position: fixed;
    top:10;
    left:20;
}
#img>span{
    color: wheat;
    font-size: 1.4em;
}
#tipnode{
    position: fixed;
    background-color: #eee;
}