/* .text0{ /+ mark title +/
    font-size: 1rem;
}
.text1{ /+ mark value +/
    font-size: 1.4rem;
    font-weight: 600;
}
.text2{ /+ data date +/
    font-size: 0.8rem;
}
.text3{/+ data sell +/
    font-size: 0.9rem;
    font-weight: 600;
}
.text4{/+ data sell同比 +/
    font-size: 0.9rem;
    font-weight: 600;
}
.rect{
    width: rem
} */