* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration-line: none;
  color: #591;
}
body {
  background-color: rgb(23, 23, 23);
  width: 100%;
  color: rgb(200, 200, 200);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
}
.top a {
  padding: 10px;
  width: 80px;
}
.top a:hover {
  background-color: aliceblue;
}
.top ul {
}

.top li {
  text-align: center;
  width: 80px;
  padding: 10px;
  display: inline-block;
}

.top li:hover {
  background-color: #591;
}
