*{margin:0;padding:0;}
*{overflow:hidden}
#img{
    position: fixed;
    top:10;
    left:20;
}
#img>span{
    color: wheat;
    font-size: 1.4em;
}
.tag{
    width:150px;
    height:70px;
    top:0px;
    left:200px;
    font-size: 2px;
    border:3px solid #09F;
    background-color: rgba(22, 19, 19, 0.911);
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    color: rgb(236, 234, 234);
    position:absolute;
    z-index: 1;
}
.tag:before,.tag:after{
    content:"";display:block;
    border-width:5px;
    position:absolute; bottom:-40px;
    left:100px;
    border-style:solid dashed dashed;
    border-color:#09F transparent transparent;
    font-size:0;
    line-height:0;
}
.tag:after{
    bottom:-73px;
    border-color:#09F transparent transparent;
}