*{
    margin: 0;
    padding: 0;
}
text{
    user-select: none;
}
#root{
    display: flex;
    background-color: #171717;
}
#div_tip{
    width: 200px;
    position: absolute;
    padding: 10px;
    font-size: .8rem;
    top:-800px;
    left:-220px;
    color: #eee;
    background-color: #666;
    border:solid 1px #666;
    border-radius: 5px;
}
#div_tip:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    width: 0;
    height: 0;
    border-bottom: 12px solid #666;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
#color_Config{
    display: none;
    position: absolute;
    background-color: #aaa;
    padding: 10px;
}
.YaxisG *{
    stroke: #aaa;
}
.XaxisG *{
    stroke: #aaa; 
}
.ZaxisG {
    stroke: #aaa; 
}
