* {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body{
  background-color: #4e5c63;
}
.svg_title {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  color: #eee;
  position: relative;
  top: 10px;
  margin-bottom: 15px;
}
