body{
    margin: 0px;
    padding: 0px;
}
#root{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.flow{
 position: absolute;
}
.title{
    margin: 1.3rem;
    padding: 1.3rem;
    font-size: 1.3rem;
    color: #eee;
    box-shadow:1px -1px 15px #434664;
}
.title:hover{
    background-color: rgba(24, 24, 50, 0.9) ;
    box-shadow:1px -1px 25px #339;
}