*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

body{
    background: #928B8B;
}
.head{
    background-color: #ef4339;
    width: 100%;
    margin:0 auto;
    height: 2.6rem;
    padding:.3rem 0;
    position: fixed;
    z-index: 9;
    top:0;
}
.img_logo{
    width: 36%;
    height:2rem;
    display: inline-block;
    margin-top: .3rem;
    margin-left: 50%;
    position: absolute;
    left: -20%;
   
}
.share{
    width: 32px;
    display: inline-block;
    height: 32px;
    margin-right: 10px;
    float: right;
    margin-top: 5px;
    background-image: url('./img/share.png');
}
.top_bar{
    margin-top: 3.2rem;
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction:row;
}
.top_bar li{
    width: 20%;
    height: 5rem;
    border-right: 1px solid #ccc; 
    margin-bottom: .3rem;   
}
.top_bar li:last-child{
    border-right: none;
}
.top_bar img{
    width: 40%;
    max-height: 50px;
    max-height: 40px;
    display: block;
    margin: .4rem auto;
}
.top_bar p{
    text-align: center;
    font-size: .9rem;
}
#slider{
    margin-top: .7rem;
    background-color: #ffffff;
}
.slider_content{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}

.slider_content li{
    text-align: center;
    flex-grow: 5;
}
.slider_content li:first-child{
    flex-grow: 1;
}
.slider_content li:last-child{
    flex-grow: 1;
}
.down_img{
    width:20px;
    height: 1rem;
    display: inline-block;
    background: url('./img/down.png') no-repeat;
}
.check{
    width:20px;
    height: 1.2rem;
    display: inline-block;
    background: url('./img/check.png') no-repeat ;
    background-size: 20px;
}
.slider_context{
    display: flex;
    flex-direction: row;
    padding:20px 0;
}
.scontext_left {
    flex-grow: 1;
    vertical-align: middle;
    background-color: #f4f4f4;
    border-radius:  0 25px  25px 0;
    padding: 10px 0;
}
.scontext_left span{
    width:20px;
    height: 1.2rem;
    display: inline-block;
    background: url('./img/left.png') no-repeat;
    background-size: 20px;  
    position: relative;
    top: -20px;
}
.scontext_left p{
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
.scontext_middel{
    flex-grow: 5;
    text-align: center;
    font-size: .9rem;
    color: #777;
}
.scontext_middel p:first-child{
    color: #ef4339;
}
.tip{
    width: 40px;
    display: inline-block;
}
.data{
    margin: 0 4px;
    font-size: 2.3rem;
    font-weight: 700;
}
.scontext_middel p:last-child{
    margin-top: .5rem;
}
.scontext_right {
    flex-grow: 1;
    word-wrap: break-word;
    text-align: right;
    vertical-align: middle;
    background-color: #f4f4f4;
    border-radius: 25px 0 0 25px;
    padding: 10px 0;
}
.scontext_right span{
    width:20px;
    margin:auto 0;
    height: 1.2rem;
    display: inline-block;
    background: url('./img/right.png') no-repeat;
    background-size: 20px;  
    position: relative;
    top: -20px;
}
.scontext_right p{
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
#table{
    margin-top:10px;
    background-color: #fff;
}
#table div:first-child{
    padding: 12px 10px;
    font-size: 1rem;
}
#table div span {
    float: right;
}
#thead{
    padding: 3px 0;
    display: flex;
    width: 98%;
    padding:3px 1%;
    flex-direction: row;
    vertical-align: middle;
}
#thead li:first-child{
    line-height:normal;
    text-align: left;
    float: left;
    min-width: 100px;
}
#thead li{
    font-size: .9rem;
    text-align: right;
    width: 20%;
    float: right;
    line-height:normal;
}
.table ul{
    width: 98%;
    padding: 3px 1%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.table ul li{
    line-height: 2.7rem;
    text-align: right;
    width: 20%;
    float: right;

}
#table ul li span{
    color: #ef4339;
   
}
#table ul:nth-child(2n){
    background-color: #f4f4f4;
}
.table ul li:first-child{
    line-height:normal;
    text-align: left;
    float: left;
    min-width: 100px;
}

.table ul li:first-child p:last-child{
    font-size: .7rem;
}
#thead{
    background-color: #f4f4f4;
}
.table{
    margin-bottom: 4rem;
}

footer{
    width: 100%;
    position: fixed;
    z-index: 9;
    bottom: 0;
}
.foot_bar{
    display: flex;
    flex-direction: row;
    background-color: #d8d6d6;
}
.foot_bar li{
    width: 20%;
    height: 4rem;
  
    margin-bottom: .3rem;   
}
.foot_bar li:last-child{
    border-right: none;
}
.foot_bar img{
    width: 40%;
    max-height: 50px;
    max-height: 40px;
    display: block;
    margin: .4rem auto;
}
.foot_bar p{
    text-align: center;
    font-size: .9rem;
}
.active{
    color: #ef4339;
}